@CHARSET "UTF-8";

#login {
	border: 2px solid lavender;
	border-top: 3px solid red;
	width: 325px;
	height: 325px;
	margin-left: 900px;
	margin-top: 130px;
	background-color: white;
}
#navigate {
	width: 100%;
	height: 39px;
	background-color: #970102;
}
#menu {
	width: 100%;
	height: 30px;
	background-color: #970102;
}
#li {
	display: inline; /* 让表格所有行在一条线上 */
}
#navigate_item {
	float: left;
	border-left: 1px solid gray;
	width: 5em;
	background-color: #970102;
	text-align: center;
	font-size: 17px;
}
#content {
	margin-left: 55px;
}
#goods {
	margin-top: 22px;
	margin-left: 90px;
}
#price {
	color: #D70102;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}
#goodsInfo {
	margin-top: 30px;
	margin-left: 100px;
}
#address {
	border: 2px solid lightgray;
	height: 45px;
	width: 399px;
	margin-top: 30px;
}
#order {
	border-top: 4px solid #970102;
	border-bottom: 2px solid #970102;
	height: 53px;
	margin-top: 40px;
}
#money {
	background-color: gainsboro;
	height: 50px;
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
}
#userInfor {
	background-color: lightgray;
}
ul {
	list-style-type: none;
}
li {
	padding: 10px;
}

/* text-decoration:none;是除去连接下的横线装饰 */
a:link {color: white; text-decoration: none;}       /* 连接前的颜色 */
a:visited {color: white;} 						    /* 访问过后的颜色 */
a:hover {color: black; text-decoration: underline;} /* 鼠标放在上面时的颜色 */
a:active {color: black;} 							/* 点击是的颜色 */

a[form]:link {color: darkgray; text-decoration: none;} 
a[form]:visited {color: darkgray;} 									   
a[form]:hover {color: #970102; text-decoration: underline;} 			
a[form]:active {color: #970102}

a[user]:link {color: gray; text-decoration: none;} 
a[user]:visited {color: slategray;} 									   
a[user]:hover {color: white; text-decoration: underline;} 			
a[user]:active {color: white} 	


#loginButton {
	background-color: #970102;
	width: 225px;
	height: 35px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
#resetButton {
	margin-left: 122px;
	width: 40px;
	height: 30px;
}
#closeButton {
	width: 40px;
	height: 30px;
}
#registerButton {
	background-color: #F3F6FA;
	width: 90px;
	height: 28px;
	font-size: 14px;
	font-weight: bold;
}
#buyButton {
	background-color: #970102;
	width: 180px;
	height: 43px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-left: 63px;
}
#payButton {
	background-color: #970102;
	width: 180px;
	height: 43px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-top: 60px;
}
tr {
	border: 1px solid green;
}
td {
	border: 1px solid green;
	text-overflow: ellipsis;
	white-space: nowrap; /* 超出部分不换行 */
}
#tdNoborder {
	border: none/* 或 0px */;
}
.footer {
	font-size: 11pt;
	color: #970102;
	text-align: center; 
	line-height: 140%;
}



